.rates-info {
  position: relative;
}

.rates-info .rate-controls {
  margin-top: 80px;
  margin-bottom: 20px;
  border-bottom: none;
  text-align: right;
}

.rate-controls .switch-button {
  opacity: var(--opacity-2lvl);
}

.rate-controls .switch-button.active {
  pointer-events: none;
}

.rate-controls .switch-button.active {
  opacity: var(--opacity-1lvl);
}

@media (hover: hover) {
  .rate-controls .switch-button:hover {
    opacity: var(--opacity-1lvl);
  }
}

.list-data li {
  margin-bottom: 13px;
}

.list-data li:not(.header):not(.links)::after {
  position: absolute;
  left: 0;
  bottom: -2px;
  content: ' ';
  width: 100%;
  height: 1px;
  background-color: var(--color-text-primary);
}

.list-data .rates-grid {
  display: grid;
  grid-template-columns: 1fr repeat(6, 80px) 1fr;
  gap: 4%;
}

.rates-grid .mobile {
  display: none;
}

.list-data li.header {
  border-bottom: none;
  margin-top: 12px;
  grid-template-columns: 1fr repeat(6, 120px) 1fr;
  gap: calc(4% - 40px);
}

li.rates-grid.header ~ li.rates-grid {
  margin-top: 80px;
}

.list-data li.header p,
.list-data li.links p {
  opacity: var(--opacity-1lvl);
}

.list-data li.header p:last-child,
.list-data li.header p:first-child {
  opacity: 0 !important;
}

.list-data li:not(.header):not(.links) p {
  user-select: none;
  white-space: nowrap;
}

.list-data li p:first-child {
  text-align: left;
}

.list-data li p:last-child {
  text-align: right;
}

.list-data li.links {
  border-bottom: none;
}

.list-data li.links p {
  text-align: center;
}

/* animation */

.load-rates > li {
  opacity: 0;
  animation-name: load-rates;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes load-rates {
 from {opacity: 0; transform:translateY(-20px);}
 to {opacity: 0.4;  transform:translateY(0px);}
}

@keyframes unload-rates {
 from {opacity: 0.4;}
 to {opacity: 0;}
}

.unload-rates {
  pointer-events: none;
  animation-name: unload-rates;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: .6s;
}

/* animation ends */

.no-hover {
  pointer-events: none;
}

.list-data li:not(.header):not(.links):hover {
  opacity: 1 !important;
}

@media (max-width: 1200px) {
  .list-data li {
    margin-bottom: 24px;
  }

  .list-data .rates-grid,
  .list-data li.header {
    grid-template-columns: 50px repeat(4, 1fr) 80px;
    row-gap: 12px;
    column-gap: 5px;
  }

  li:not(.header):not(.links).rates-grid p:first-of-type {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
  }

  li:not(.header):not(.links).rates-grid p:last-of-type {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 1;
  }

  li:not(.header):not(.links).rates-grid p:nth-of-type(2) {
    grid-column-start: 1;
    text-align: left;
  }

  .rates-grid p:nth-of-type(7) {
    text-align: right;
  }

  li.header.rates-grid p:nth-of-type(1) {
    grid-column-start: 6;
    grid-row-start: 2;
  }

  li.header.rates-grid p:nth-of-type(2)  {
    text-align: left;
  }

  .rates-info ul li:not(.header):not(.links)::after {
    bottom: 58%;
  }
}

@media (max-width: 700px) {
  .rates-info .rate-controls {
    margin-top: 110px;
  }

  .list-data .rates-grid {
    gap: 8px;
    grid-template-columns: 1fr 1fr;
  }

  .list-data li:not(.header):not(.links)::after {
    bottom: unset;
    top: 17px;
  }

  .list-data li.header {
    display: none;
  }

  li:not(.header):not(.links).rates-grid p:nth-of-type(2) {
    grid-column-start: unset;
    grid-column: span 2;
  }

  li:not(.header):not(.links).rates-grid p {
    grid-column: span 2;
  }

  li.rates-grid.header ~ li.rates-grid {
    margin-top: 100px;
  }

  .rates-grid p {
    display: flex;
    text-align: left;
    grid-column: span 2;
    grid-column-start: unset;
  }

  .rates-grid p:nth-of-type(7) {
    text-align: left;
  }

  li:not(.header):not(.links).rates-grid p:first-of-type {
    grid-column-end: 2;
    display: block;
  }

  li:not(.header):not(.links).rates-grid p:last-of-type {
    grid-column-start: 2;
    grid-column-end: unset;
    grid-row-start: 1;
    display: block;
  }

  .rates-grid p:last-of-type .mobile,
  .rates-grid p:first-of-type .mobile {
    display: none;
  }

  .rates-grid .mobile {
    display: inline-block;
    margin-left: auto;
    opacity: var(--opacity-1lvl);
  }

  .rates-info .links p {
    text-wrap: balance;
  }
}

@media (max-width: 420px) {
  .rates-info .rate-controls {
    margin-top: 200px;
  }
}